name: Docker Example
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
on:
  # Triggers the workflow on push or pull request events but only for the "main" branch
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  proefme:
    runs-on: ubuntu-latest
    steps:
      # Check out your repository
      - name: Checkout
        uses: actions/checkout@v5.0.0

      # Set up Node.js
      - name: Set up Node.js
        uses: actions/setup-node@v6.0.0

      # Install dependencies
      - name: Install dependencies
        run: npm install

      # Run tests
      - name: Run tests
        run: npm test -- --coverage

      - uses: mridang/action-test-reporter@v1.3.0
        with:
          coverage-file: coverage/lcov.info

      # Log in to Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # Build and push Docker image
      - name: Build and push Docker image
        uses: docker/build-push-action@v6.18.0
        with:
          context: .
          push: true
          tags: ${{ vars.DOCKERHUB_USERNAME }}/your-image-name:latest

      
  
