name: Tests Run
on:
  workflow_dispatch:

jobs:
  proefme:
    runs-on: ubuntu-latest 
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6.0.0
      
      - name: Create build zip
        run: |
          mkdir -p build
          zip -r build/app.zip . \
            -x "*.git*" ".github/*" "build/*"

      - run: npm install
      - run: npm run build --if-present
      - run: npm test

      - name: Test Report
        uses: dorny/test-reporter@v2
        if: ${{ !cancelled() }}       # run this step even if previous step failed
        with:
          name: JEST Tests            # Name of the check run which will be created
          path: reports/jest-*.xml    # Path to test results
          reporter: jest-junit        # Format of test results
  
